/*
.navbar {
  margin: 10px 0;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.1em;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.nav-link:hover {
  background-color: #43a1ff;
  border-radius: 5px;
}

.nav-dropdown {
  background-color: #7f7f7f;
}

.navbar .nav-item .nav-link {
  cursor: pointer;
}
*/

.navbar {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #d6e4f9;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
}

.nav-link:hover {
  background-color: #43a1ff;
  border-radius: 5px;
}

.nav-dropdown {
  background-color: #7f7f7f;
}

.navbar-collapse .collapse{
  justify-content: flex-end;
}

.nav-item.active .nav-link,
.dropdown-item.active {
  background-color: #c2ffc2;
  color: #000000 !important;
}


.navbar .nav-item .nav-link {
  cursor: pointer;
}

.navlink-title {
  margin-left: 8px;
}

.active .nav-link .navlink-title,
.active .nav-link .svg-inline--fa .fa-envelope-open{
  color: #193755 !important;
}


.dropdown-toggle{
  cursor: pointer !important;
}