/* ---------- SIGN IN ---------- */
.form-card {
    width: clamp(350px, 90%, 500px);
    background-color: #43a1ff;
  }
  
.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100% - 60px);
  margin-bottom: 0; 
}

.modal-content {
  margin-top: auto;
}
