h5.text-center {
    text-align: center;
    overflow: hidden;
  }
  
  h5.text-center::before,
  h5.text-center::after {
    background-color: #cfe2ff;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
  h5.text-center::before {
    right: 1em;
    margin-left: -50%;
  }
  
  h5.text-center::after {
    left: 1em;
    margin-right: -50%;
  }

  .card-cabecera{
    color:"#052c65";
    background-color:"#cfe2ff";
  }

  .tarjeta{
    width: '100%';
  }

  code.language-markdown{
    text-wrap: wrap !important;
  }

  .markdown-container h3 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
  }

  .markdown-container strong {
      font-weight: bold;
      color: #333; /* Ajusta el color si es necesario */
  }

  .markdown-container p {
      margin: 0.5rem 0;
      line-height: 1.6;
      word-wrap: break-word; /* Evita desbordamientos */
      white-space: pre-wrap; /* Asegura que los saltos de línea se respeten */
  }
